{% extends 'base.html' %}

{% block title %}
À propos
{% endblock %}

{% block content %}

<section class="py-16">

    <h1 class="text-5xl font-bold mb-10">
        À propos de moi
    </h1>

    <div class="space-y-6 text-gray-300 text-lg">

        <p>
            Passionné par le développement web moderne,
            je développe des applications avec Python,
            Django et JavaScript.
        </p>

        <p>
            Je travaille actuellement sur plusieurs
            projets web et systèmes automatisés.
        </p>

        <p>
            Mon objectif est de devenir développeur
            fullstack professionnel.
        </p>

    </div>

</section>

{% endblock %}	
	
	
	
	
	
	
	
	
	
	